body {
  background: #222b3f;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
}

.night {
  position: relative;
  width: 300px;
  height: 300px;
}
.night::after {
  content: "";
  position: absolute;
  left: 35%;
  width: 100%;
  height: 100%;
  background: #222b3f;
  border-radius: 100%;
  transform: scale(1.1);
}
.night::before {
  content: "";
  position: absolute;
  bottom: -3%;
  left: -10%;
  width: 70%;
  height: 6%;
  background: #0a1433;
  border-radius: 100%;
}

.window {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #edcd2b 0%, #222b3f 100%);
  border-radius: 100%;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
}
.star:nth-child(1) {
  top: 15%;
  left: 24%;
  background: #040404;
}
.star:nth-child(2) {
  top: 34%;
  left: 42%;
  background: #3f3f3f;
}
.star:nth-child(3) {
  top: 86%;
  left: 18%;
  background: #282828;
}
.star:nth-child(4) {
  top: 57%;
  left: 48%;
  background: #323232;
}
.star:nth-child(5) {
  top: 27%;
  left: 66%;
  background: #7e7e7e;
}
.star:nth-child(6) {
  top: 25%;
  left: 58%;
  background: #858585;
}
.star:nth-child(7) {
  top: 15%;
  left: 87%;
  background: #a3a3a3;
}
.star:nth-child(8) {
  top: 14%;
  left: 57%;
  background: #444444;
}
.star:nth-child(9) {
  top: 51%;
  left: 53%;
  background: #7a7a7a;
}
.star:nth-child(10) {
  top: 3%;
  left: 39%;
  background: #858585;
}
.star:nth-child(11) {
  top: 72%;
  left: 23%;
  background: #7f7f7f;
}
.star:nth-child(12) {
  top: 24%;
  left: 51%;
  background: #6f6f6f;
}
.star:nth-child(13) {
  top: 62%;
  left: 90%;
  background: #f7f7f7;
}
.star:nth-child(14) {
  top: 48%;
  left: 89%;
  background: #3f3f3f;
}
.star:nth-child(15) {
  top: 7%;
  left: 60%;
  background: #545454;
}
.star:nth-child(16) {
  top: 89%;
  left: 38%;
  background: #b7b7b7;
}
.star:nth-child(17) {
  top: 23%;
  left: 62%;
  background: #4b4b4b;
}
.star:nth-child(18) {
  top: 26%;
  left: 35%;
  background: #141414;
}
.star:nth-child(19) {
  top: 95%;
  left: 56%;
  background: #444444;
}
.star:nth-child(20) {
  top: 47%;
  left: 17%;
  background: #1e1e1e;
}
.star:nth-child(21) {
  top: 21%;
  left: 26%;
  background: #7e7e7e;
}
.star:nth-child(22) {
  top: 1%;
  left: 24%;
  background: #dddddd;
}
.star:nth-child(23) {
  top: 71%;
  left: 82%;
  background: #767676;
}
.star:nth-child(24) {
  top: 64%;
  left: 96%;
  background: #d0d0d0;
}
.star:nth-child(25) {
  top: 83%;
  left: 93%;
  background: #1a1a1a;
}
.star:nth-child(26) {
  top: 99%;
  left: 68%;
  background: #838383;
}
.star:nth-child(27) {
  top: 89%;
  left: 78%;
  background: #020202;
}
.star:nth-child(28) {
  top: 23%;
  left: 90%;
  background: #b2b2b2;
}
.star:nth-child(29) {
  top: 30%;
  left: 79%;
  background: #6e6e6e;
}
.star:nth-child(30) {
  top: 30%;
  left: 20%;
  background: #909090;
}
.star:nth-child(31) {
  top: 43%;
  left: 31%;
  background: #878787;
}
.star:nth-child(32) {
  top: 42%;
  left: 60%;
  background: #cacaca;
}
.star:nth-child(33) {
  top: 59%;
  left: 44%;
  background: #606060;
}
.star:nth-child(34) {
  top: 47%;
  left: 60%;
  background: #a3a3a3;
}
.star:nth-child(35) {
  top: 91%;
  left: 25%;
  background: #f3f3f3;
}
.star:nth-child(36) {
  top: 80%;
  left: 75%;
  background: #454545;
}
.star:nth-child(37) {
  top: 60%;
  left: 91%;
  background: gainsboro;
}
.star:nth-child(38) {
  top: 56%;
  left: 58%;
  background: #979797;
}
.star:nth-child(39) {
  top: 34%;
  left: 90%;
  background: #e4e4e4;
}
.star:nth-child(40) {
  top: 48%;
  left: 44%;
  background: #6e6e6e;
}
.star:nth-child(41) {
  top: 48%;
  left: 21%;
  background: #0f0f0f;
}
.star:nth-child(42) {
  top: 61%;
  left: 20%;
  background: gainsboro;
}
.star:nth-child(43) {
  top: 70%;
  left: 25%;
  background: #909090;
}
.star:nth-child(44) {
  top: 4%;
  left: 38%;
  background: #4a4a4a;
}
.star:nth-child(45) {
  top: 47%;
  left: 5%;
  background: #515151;
}
.star:nth-child(46) {
  top: 30%;
  left: 16%;
  background: #2c2c2c;
}
.star:nth-child(47) {
  top: 80%;
  left: 25%;
  background: #a5a5a5;
}
.star:nth-child(48) {
  top: 53%;
  left: 27%;
  background: #1c1c1c;
}
.star:nth-child(49) {
  top: 11%;
  left: 64%;
  background: #9f9f9f;
}
.star:nth-child(50) {
  top: 16%;
  left: 43%;
  background: #747474;
}
.star:nth-child(51) {
  top: 51%;
  left: 59%;
  background: #aaaaaa;
}
.star:nth-child(52) {
  top: 5%;
  left: 54%;
  background: dimgray;
}
.star:nth-child(53) {
  top: 80%;
  left: 83%;
  background: #515151;
}
.star:nth-child(54) {
  top: 7%;
  left: 95%;
  background: #646464;
}
.star:nth-child(55) {
  top: 29%;
  left: 93%;
  background: #0f0f0f;
}
.star:nth-child(56) {
  top: 56%;
  left: 25%;
  background: #aaaaaa;
}
.star:nth-child(57) {
  top: 59%;
  left: 1%;
  background: #777777;
}
.star:nth-child(58) {
  top: 18%;
  left: 69%;
  background: #454545;
}
.star:nth-child(59) {
  top: 78%;
  left: 7%;
  background: #f0f0f0;
}
.star:nth-child(60) {
  top: 36%;
  left: 60%;
  background: #202020;
}
.star:nth-child(61) {
  top: 59%;
  left: 34%;
  background: #f3f3f3;
}
.star:nth-child(62) {
  top: 91%;
  left: 77%;
  background: #080808;
}
.star:nth-child(63) {
  top: 21%;
  left: 75%;
  background: #8b8b8b;
}
.star:nth-child(64) {
  top: 58%;
  left: 30%;
  background: #afafaf;
}
.star:nth-child(65) {
  top: 44%;
  left: 45%;
  background: #020202;
}
.star:nth-child(66) {
  top: 37%;
  left: 31%;
  background: white;
}
.star:nth-child(67) {
  top: 60%;
  left: 40%;
  background: #a7a7a7;
}
.star:nth-child(68) {
  top: 96%;
  left: 44%;
  background: #aeaeae;
}
.star:nth-child(69) {
  top: 22%;
  left: 85%;
  background: #050505;
}
.star:nth-child(70) {
  top: 93%;
  left: 15%;
  background: #474747;
}
.star:nth-child(71) {
  top: 93%;
  left: 18%;
  background: #8c8c8c;
}
.star:nth-child(72) {
  top: 25%;
  left: 76%;
  background: #a4a4a4;
}
.star:nth-child(73) {
  top: 90%;
  left: 30%;
  background: #fcfcfc;
}
.star:nth-child(74) {
  top: 38%;
  left: 4%;
  background: #404040;
}
.star:nth-child(75) {
  top: 79%;
  left: 2%;
  background: #b6b6b6;
}
.star:nth-child(76) {
  top: 21%;
  left: 53%;
  background: #1d1d1d;
}
.star:nth-child(77) {
  top: 60%;
  left: 37%;
  background: #0c0c0c;
}
.star:nth-child(78) {
  top: 21%;
  left: 6%;
  background: #aeaeae;
}
.star:nth-child(79) {
  top: 15%;
  left: 36%;
  background: #c7c7c7;
}
.star:nth-child(80) {
  top: 20%;
  left: 17%;
  background: #dddddd;
}
.star:nth-child(81) {
  top: 20%;
  left: 77%;
  background: #b4b4b4;
}
.star:nth-child(82) {
  top: 24%;
  left: 11%;
  background: #424242;
}
.star:nth-child(83) {
  top: 2%;
  left: 92%;
  background: #545454;
}
.star:nth-child(84) {
  top: 15%;
  left: 46%;
  background: #b3b3b3;
}
.star:nth-child(85) {
  top: 37%;
  left: 49%;
  background: #fefefe;
}
.star:nth-child(86) {
  top: 99%;
  left: 74%;
  background: #8a8a8a;
}
.star:nth-child(87) {
  top: 32%;
  left: 16%;
  background: #626262;
}
.star:nth-child(88) {
  top: 89%;
  left: 84%;
  background: #e6e6e6;
}
.star:nth-child(89) {
  top: 6%;
  left: 40%;
  background: #f3f3f3;
}
.star:nth-child(90) {
  top: 7%;
  left: 26%;
  background: #9a9a9a;
}
.star:nth-child(91) {
  top: 26%;
  left: 53%;
  background: #272727;
}
.star:nth-child(92) {
  top: 62%;
  left: 82%;
  background: #303030;
}
.star:nth-child(93) {
  top: 25%;
  left: 26%;
  background: whitesmoke;
}
.star:nth-child(94) {
  top: 58%;
  left: 83%;
  background: #626262;
}
.star:nth-child(95) {
  top: 11%;
  left: 52%;
  background: #b2b2b2;
}
.star:nth-child(96) {
  top: 30%;
  left: 15%;
  background: #010101;
}
.star:nth-child(97) {
  top: 7%;
  left: 80%;
  background: #b4b4b4;
}
.star:nth-child(98) {
  top: 92%;
  left: 4%;
  background: #a3a3a3;
}
.star:nth-child(99) {
  top: 27%;
  left: 85%;
  background: #b2b2b2;
}
.star:nth-child(100) {
  top: 79%;
  left: 8%;
  background: #a3a3a3;
}
.star:nth-child(101) {
  top: 14%;
  left: 62%;
  background: #d5d5d5;
}
.star:nth-child(102) {
  top: 69%;
  left: 43%;
  background: #5a5a5a;
}
.star:nth-child(103) {
  top: 62%;
  left: 67%;
  background: #7a7a7a;
}
.star:nth-child(104) {
  top: 46%;
  left: 39%;
  background: #7b7b7b;
}
.star:nth-child(105) {
  top: 68%;
  left: 95%;
  background: #040404;
}
.star:nth-child(106) {
  top: 86%;
  left: 71%;
  background: #989898;
}
.star:nth-child(107) {
  top: 25%;
  left: 9%;
  background: #a4a4a4;
}
.star:nth-child(108) {
  top: 100%;
  left: 33%;
  background: #b4b4b4;
}
.star:nth-child(109) {
  top: 5%;
  left: 19%;
  background: gainsboro;
}
.star:nth-child(110) {
  top: 48%;
  left: 64%;
  background: #9b9b9b;
}
.star:nth-child(111) {
  top: 4%;
  left: 41%;
  background: #434343;
}
.star:nth-child(112) {
  top: 10%;
  left: 29%;
  background: #e5e5e5;
}
.star:nth-child(113) {
  top: 36%;
  left: 33%;
  background: #c7c7c7;
}
.star:nth-child(114) {
  top: 54%;
  left: 9%;
  background: #565656;
}
.star:nth-child(115) {
  top: 98%;
  left: 69%;
  background: #343434;
}
.star:nth-child(116) {
  top: 39%;
  left: 68%;
  background: #6c6c6c;
}
.star:nth-child(117) {
  top: 34%;
  left: 96%;
  background: #eeeeee;
}
.star:nth-child(118) {
  top: 58%;
  left: 69%;
  background: #353535;
}
.star:nth-child(119) {
  top: 7%;
  left: 19%;
  background: #242424;
}
.star:nth-child(120) {
  top: 19%;
  left: 2%;
  background: #c1c1c1;
}
.star:nth-child(121) {
  top: 86%;
  left: 26%;
  background: #cdcdcd;
}
.star:nth-child(122) {
  top: 21%;
  left: 51%;
  background: #2c2c2c;
}
.star:nth-child(123) {
  top: 8%;
  left: 3%;
  background: #dedede;
}
.star:nth-child(124) {
  top: 11%;
  left: 14%;
  background: #b4b4b4;
}
.star:nth-child(125) {
  top: 90%;
  left: 2%;
  background: #f2f2f2;
}
.star:nth-child(126) {
  top: 74%;
  left: 77%;
  background: #a7a7a7;
}
.star:nth-child(127) {
  top: 95%;
  left: 13%;
  background: #383838;
}
.star:nth-child(128) {
  top: 56%;
  left: 69%;
  background: #f6f6f6;
}
.star:nth-child(129) {
  top: 49%;
  left: 97%;
  background: #3d3d3d;
}
.star:nth-child(130) {
  top: 34%;
  left: 41%;
  background: #d8d8d8;
}
.star:nth-child(131) {
  top: 27%;
  left: 85%;
  background: #343434;
}
.star:nth-child(132) {
  top: 44%;
  left: 24%;
  background: #414141;
}
.star:nth-child(133) {
  top: 48%;
  left: 97%;
  background: #c8c8c8;
}
.star:nth-child(134) {
  top: 5%;
  left: 1%;
  background: #afafaf;
}
.star:nth-child(135) {
  top: 92%;
  left: 26%;
  background: #494949;
}
.star:nth-child(136) {
  top: 56%;
  left: 96%;
  background: #f1f1f1;
}
.star:nth-child(137) {
  top: 84%;
  left: 34%;
  background: #232323;
}
.star:nth-child(138) {
  top: 91%;
  left: 9%;
  background: #b5b5b5;
}
.star:nth-child(139) {
  top: 6%;
  left: 17%;
  background: #7c7c7c;
}
.star:nth-child(140) {
  top: 42%;
  left: 96%;
  background: #060606;
}
.star:nth-child(141) {
  top: 32%;
  left: 28%;
  background: #232323;
}
.star:nth-child(142) {
  top: 6%;
  left: 66%;
  background: #898989;
}
.star:nth-child(143) {
  top: 86%;
  left: 86%;
  background: #6a6a6a;
}
.star:nth-child(144) {
  top: 30%;
  left: 97%;
  background: #8b8b8b;
}
.star:nth-child(145) {
  top: 65%;
  left: 82%;
  background: #313131;
}
.star:nth-child(146) {
  top: 61%;
  left: 58%;
  background: #cacaca;
}
.star:nth-child(147) {
  top: 53%;
  left: 30%;
  background: #0b0b0b;
}
.star:nth-child(148) {
  top: 67%;
  left: 64%;
  background: #bbbbbb;
}
.star:nth-child(149) {
  top: 54%;
  left: 49%;
  background: #242424;
}
.star:nth-child(150) {
  top: 9%;
  left: 15%;
  background: #b2b2b2;
}
.star:nth-child(151) {
  top: 69%;
  left: 74%;
  background: #d5d5d5;
}
.star:nth-child(152) {
  top: 2%;
  left: 26%;
  background: #8a8a8a;
}
.star:nth-child(153) {
  top: 48%;
  left: 20%;
  background: #606060;
}
.star:nth-child(154) {
  top: 52%;
  left: 38%;
  background: #cecece;
}
.star:nth-child(155) {
  top: 9%;
  left: 71%;
  background: #606060;
}
.star:nth-child(156) {
  top: 41%;
  left: 23%;
  background: #fefefe;
}
.star:nth-child(157) {
  top: 70%;
  left: 10%;
  background: #666666;
}
.star:nth-child(158) {
  top: 58%;
  left: 98%;
  background: #3c3c3c;
}
.star:nth-child(159) {
  top: 75%;
  left: 36%;
  background: #dddddd;
}
.star:nth-child(160) {
  top: 70%;
  left: 35%;
  background: #848484;
}
.star:nth-child(161) {
  top: 43%;
  left: 86%;
  background: #717171;
}
.star:nth-child(162) {
  top: 14%;
  left: 85%;
  background: #fefefe;
}
.star:nth-child(163) {
  top: 15%;
  left: 22%;
  background: #111111;
}
.star:nth-child(164) {
  top: 11%;
  left: 6%;
  background: #e0e0e0;
}
.star:nth-child(165) {
  top: 58%;
  left: 58%;
  background: #e7e7e7;
}
.star:nth-child(166) {
  top: 6%;
  left: 54%;
  background: #e4e4e4;
}
.star:nth-child(167) {
  top: 33%;
  left: 70%;
  background: #e1e1e1;
}
.star:nth-child(168) {
  top: 99%;
  left: 100%;
  background: #222222;
}
.star:nth-child(169) {
  top: 72%;
  left: 18%;
  background: #7a7a7a;
}
.star:nth-child(170) {
  top: 76%;
  left: 64%;
  background: #4d4d4d;
}
.star:nth-child(171) {
  top: 14%;
  left: 3%;
  background: #161616;
}
.star:nth-child(172) {
  top: 31%;
  left: 28%;
  background: #9f9f9f;
}
.star:nth-child(173) {
  top: 77%;
  left: 76%;
  background: #2c2c2c;
}
.star:nth-child(174) {
  top: 40%;
  left: 53%;
  background: #050505;
}
.star:nth-child(175) {
  top: 11%;
  left: 34%;
  background: #2a2a2a;
}
.star:nth-child(176) {
  top: 34%;
  left: 43%;
  background: #dbdbdb;
}
.star:nth-child(177) {
  top: 67%;
  left: 75%;
  background: #f2f2f2;
}
.star:nth-child(178) {
  top: 64%;
  left: 89%;
  background: #e1e1e1;
}
.star:nth-child(179) {
  top: 10%;
  left: 4%;
  background: #838383;
}
.star:nth-child(180) {
  top: 82%;
  left: 3%;
  background: #0e0e0e;
}
.star:nth-child(181) {
  top: 41%;
  left: 95%;
  background: #636363;
}
.star:nth-child(182) {
  top: 86%;
  left: 67%;
  background: #8f8f8f;
}
.star:nth-child(183) {
  top: 22%;
  left: 96%;
  background: #afafaf;
}
.star:nth-child(184) {
  top: 34%;
  left: 76%;
  background: #656565;
}
.star:nth-child(185) {
  top: 76%;
  left: 40%;
  background: #9b9b9b;
}
.star:nth-child(186) {
  top: 64%;
  left: 76%;
  background: #bababa;
}
.star:nth-child(187) {
  top: 15%;
  left: 54%;
  background: #a2a2a2;
}
.star:nth-child(188) {
  top: 52%;
  left: 80%;
  background: #a7a7a7;
}
.star:nth-child(189) {
  top: 62%;
  left: 82%;
  background: #606060;
}
.star:nth-child(190) {
  top: 82%;
  left: 99%;
  background: #3b3b3b;
}
.star:nth-child(191) {
  top: 96%;
  left: 53%;
  background: #dbdbdb;
}
.star:nth-child(192) {
  top: 30%;
  left: 99%;
  background: dimgray;
}
.star:nth-child(193) {
  top: 19%;
  left: 48%;
  background: #898989;
}
.star:nth-child(194) {
  top: 93%;
  left: 3%;
  background: #292929;
}
.star:nth-child(195) {
  top: 58%;
  left: 84%;
  background: #8e8e8e;
}
.star:nth-child(196) {
  top: 8%;
  left: 83%;
  background: #020202;
}
.star:nth-child(197) {
  top: 63%;
  left: 40%;
  background: lightgray;
}
.star:nth-child(198) {
  top: 34%;
  left: 100%;
  background: #cfcfcf;
}
.star:nth-child(199) {
  top: 22%;
  left: 16%;
  background: #939393;
}
.star:nth-child(200) {
  top: 60%;
  left: 81%;
  background: #676767;
}
.star:nth-child(201) {
  top: 7%;
  left: 45%;
  background: #474747;
}
.star:nth-child(202) {
  top: 40%;
  left: 86%;
  background: #cdcdcd;
}
.star:nth-child(203) {
  top: 95%;
  left: 1%;
  background: #525252;
}
.star:nth-child(204) {
  top: 80%;
  left: 87%;
  background: #484848;
}
.star:nth-child(205) {
  top: 100%;
  left: 40%;
  background: #505050;
}
.star:nth-child(206) {
  top: 66%;
  left: 69%;
  background: #6e6e6e;
}
.star:nth-child(207) {
  top: 68%;
  left: 65%;
  background: darkgray;
}
.star:nth-child(208) {
  top: 8%;
  left: 53%;
  background: #333333;
}
.star:nth-child(209) {
  top: 37%;
  left: 51%;
  background: #7b7b7b;
}
.star:nth-child(210) {
  top: 68%;
  left: 96%;
  background: #d0d0d0;
}
.star:nth-child(211) {
  top: 56%;
  left: 64%;
  background: #cdcdcd;
}
.star:nth-child(212) {
  top: 32%;
  left: 57%;
  background: dimgray;
}
.star:nth-child(213) {
  top: 49%;
  left: 47%;
  background: #bababa;
}
.star:nth-child(214) {
  top: 81%;
  left: 51%;
  background: #060606;
}
.star:nth-child(215) {
  top: 50%;
  left: 19%;
  background: #2b2b2b;
}
.star:nth-child(216) {
  top: 31%;
  left: 67%;
  background: #2b2b2b;
}
.star:nth-child(217) {
  top: 96%;
  left: 45%;
  background: #909090;
}
.star:nth-child(218) {
  top: 14%;
  left: 19%;
  background: gainsboro;
}
.star:nth-child(219) {
  top: 19%;
  left: 91%;
  background: #3f3f3f;
}
.star:nth-child(220) {
  top: 86%;
  left: 57%;
  background: #f0f0f0;
}
.star:nth-child(221) {
  top: 38%;
  left: 48%;
  background: #6b6b6b;
}
.star:nth-child(222) {
  top: 43%;
  left: 27%;
  background: #fefefe;
}
.star:nth-child(223) {
  top: 91%;
  left: 18%;
  background: #191919;
}
.star:nth-child(224) {
  top: 95%;
  left: 57%;
  background: #0c0c0c;
}
.star:nth-child(225) {
  top: 75%;
  left: 26%;
  background: #919191;
}
.star:nth-child(226) {
  top: 45%;
  left: 73%;
  background: #2e2e2e;
}
.star:nth-child(227) {
  top: 52%;
  left: 49%;
  background: #c3c3c3;
}
.star:nth-child(228) {
  top: 85%;
  left: 15%;
  background: #060606;
}
.star:nth-child(229) {
  top: 50%;
  left: 20%;
  background: dimgray;
}
.star:nth-child(230) {
  top: 83%;
  left: 91%;
  background: #3d3d3d;
}
.star:nth-child(231) {
  top: 21%;
  left: 35%;
  background: #c2c2c2;
}
.star:nth-child(232) {
  top: 32%;
  left: 11%;
  background: #7b7b7b;
}
.star:nth-child(233) {
  top: 69%;
  left: 62%;
  background: #a3a3a3;
}
.star:nth-child(234) {
  top: 15%;
  left: 22%;
  background: #bcbcbc;
}
.star:nth-child(235) {
  top: 95%;
  left: 61%;
  background: #a1a1a1;
}
.star:nth-child(236) {
  top: 40%;
  left: 37%;
  background: #383838;
}
.star:nth-child(237) {
  top: 23%;
  left: 46%;
  background: #999999;
}
.star:nth-child(238) {
  top: 23%;
  left: 25%;
  background: #141414;
}
.star:nth-child(239) {
  top: 72%;
  left: 64%;
  background: #d2d2d2;
}
.star:nth-child(240) {
  top: 42%;
  left: 39%;
  background: gray;
}
.star:nth-child(241) {
  top: 7%;
  left: 24%;
  background: #acacac;
}
.star:nth-child(242) {
  top: 43%;
  left: 9%;
  background: #f3f3f3;
}
.star:nth-child(243) {
  top: 45%;
  left: 34%;
  background: #737373;
}
.star:nth-child(244) {
  top: 61%;
  left: 28%;
  background: #f4f4f4;
}
.star:nth-child(245) {
  top: 93%;
  left: 37%;
  background: #dadada;
}
.star:nth-child(246) {
  top: 9%;
  left: 37%;
  background: #c1c1c1;
}
.star:nth-child(247) {
  top: 26%;
  left: 26%;
  background: #717171;
}
.star:nth-child(248) {
  top: 57%;
  left: 12%;
  background: #7e7e7e;
}
.star:nth-child(249) {
  top: 62%;
  left: 35%;
  background: #a2a2a2;
}
.star:nth-child(250) {
  top: 76%;
  left: 69%;
  background: #dbdbdb;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: slide 30000ms linear infinite;
          animation: slide 30000ms linear infinite;
}
.stars:nth-child(2) {
  left: 100%;
}

.shooting {
  position: absolute;
  width: 50px;
  height: 1px;
  background: linear-gradient(90deg, white, rgba(255, 255, 255, 0));
  background: linear-gradient(90deg, #222b3f 0%, rgba(128, 208, 199, 0) 100%);
  opacity: 0;
  -webkit-animation: shooting 5000ms linear infinite;
          animation: shooting 5000ms linear infinite;
}
.shooting:nth-child(1) {
  top: 14%;
  left: 73%;
  -webkit-animation-delay: 7507ms;
          animation-delay: 7507ms;
}
.shooting:nth-child(2) {
  top: 44%;
  left: 61%;
  -webkit-animation-delay: 9483ms;
          animation-delay: 9483ms;
}
.shooting:nth-child(3) {
  top: 29%;
  left: 28%;
  -webkit-animation-delay: 8859ms;
          animation-delay: 8859ms;
}
.shooting:nth-child(4) {
  top: 57%;
  left: 83%;
  -webkit-animation-delay: 7183ms;
          animation-delay: 7183ms;
}
.shooting:nth-child(5) {
  top: 43%;
  left: 94%;
  -webkit-animation-delay: 5849ms;
          animation-delay: 5849ms;
}
.shooting:nth-child(6) {
  top: 39%;
  left: 27%;
  -webkit-animation-delay: 2594ms;
          animation-delay: 2594ms;
}
.shooting:nth-child(7) {
  top: 34%;
  left: 62%;
  -webkit-animation-delay: 8596ms;
          animation-delay: 8596ms;
}
.shooting:nth-child(8) {
  top: 83%;
  left: 6%;
  -webkit-animation-delay: 4308ms;
          animation-delay: 4308ms;
}
.shooting:nth-child(9) {
  top: 60%;
  left: 19%;
  -webkit-animation-delay: 687ms;
          animation-delay: 687ms;
}
.shooting:nth-child(10) {
  top: 57%;
  left: 98%;
  -webkit-animation-delay: 3410ms;
          animation-delay: 3410ms;
}
.shooting:nth-child(11) {
  top: 24%;
  left: 100%;
  -webkit-animation-delay: 5084ms;
          animation-delay: 5084ms;
}
.shooting:nth-child(12) {
  top: 24%;
  left: 41%;
  -webkit-animation-delay: 6803ms;
          animation-delay: 6803ms;
}
.shooting:nth-child(13) {
  top: 74%;
  left: 48%;
  -webkit-animation-delay: 5318ms;
          animation-delay: 5318ms;
}
.shooting:nth-child(14) {
  top: 51%;
  left: 79%;
  -webkit-animation-delay: 8422ms;
          animation-delay: 8422ms;
}
.shooting:nth-child(15) {
  top: 15%;
  left: 20%;
  -webkit-animation-delay: 5288ms;
          animation-delay: 5288ms;
}
.shooting:nth-child(16) {
  top: 71%;
  left: 5%;
  -webkit-animation-delay: 1994ms;
          animation-delay: 1994ms;
}
.shooting:nth-child(17) {
  top: 71%;
  left: 13%;
  -webkit-animation-delay: 8540ms;
          animation-delay: 8540ms;
}
.shooting:nth-child(18) {
  top: 27%;
  left: 4%;
  -webkit-animation-delay: 1514ms;
          animation-delay: 1514ms;
}
.shooting:nth-child(19) {
  top: 37%;
  left: 3%;
  -webkit-animation-delay: 6692ms;
          animation-delay: 6692ms;
}
.shooting:nth-child(20) {
  top: 22%;
  left: 57%;
  -webkit-animation-delay: 9741ms;
          animation-delay: 9741ms;
}
.shooting:nth-child(21) {
  top: 48%;
  left: 90%;
  -webkit-animation-delay: 9095ms;
          animation-delay: 9095ms;
}
.shooting:nth-child(22) {
  top: 13%;
  left: 15%;
  -webkit-animation-delay: 5599ms;
          animation-delay: 5599ms;
}
.shooting:nth-child(23) {
  top: 86%;
  left: 32%;
  -webkit-animation-delay: 3712ms;
          animation-delay: 3712ms;
}
.shooting:nth-child(24) {
  top: 7%;
  left: 55%;
  -webkit-animation-delay: 9392ms;
          animation-delay: 9392ms;
}
.shooting:nth-child(25) {
  top: 38%;
  left: 50%;
  -webkit-animation-delay: 2988ms;
          animation-delay: 2988ms;
}
.shooting:nth-child(26) {
  top: 35%;
  left: 55%;
  -webkit-animation-delay: 798ms;
          animation-delay: 798ms;
}
.shooting:nth-child(27) {
  top: 93%;
  left: 26%;
  -webkit-animation-delay: 8548ms;
          animation-delay: 8548ms;
}
.shooting:nth-child(28) {
  top: 35%;
  left: 11%;
  -webkit-animation-delay: 2847ms;
          animation-delay: 2847ms;
}
.shooting:nth-child(29) {
  top: 33%;
  left: 65%;
  -webkit-animation-delay: 3777ms;
          animation-delay: 3777ms;
}
.shooting:nth-child(30) {
  top: 30%;
  left: 65%;
  -webkit-animation-delay: 2050ms;
          animation-delay: 2050ms;
}
.shooting:nth-child(31) {
  top: 92%;
  left: 94%;
  -webkit-animation-delay: 5372ms;
          animation-delay: 5372ms;
}
.shooting:nth-child(32) {
  top: 16%;
  left: 41%;
  -webkit-animation-delay: 9348ms;
          animation-delay: 9348ms;
}
.shooting:nth-child(33) {
  top: 38%;
  left: 75%;
  -webkit-animation-delay: 3459ms;
          animation-delay: 3459ms;
}
.shooting:nth-child(34) {
  top: 19%;
  left: 67%;
  -webkit-animation-delay: 8410ms;
          animation-delay: 8410ms;
}
.shooting:nth-child(35) {
  top: 69%;
  left: 40%;
  -webkit-animation-delay: 1965ms;
          animation-delay: 1965ms;
}
.shooting:nth-child(36) {
  top: 90%;
  left: 79%;
  -webkit-animation-delay: 2382ms;
          animation-delay: 2382ms;
}
.shooting:nth-child(37) {
  top: 28%;
  left: 78%;
  -webkit-animation-delay: 1302ms;
          animation-delay: 1302ms;
}
.shooting:nth-child(38) {
  top: 77%;
  left: 88%;
  -webkit-animation-delay: 4932ms;
          animation-delay: 4932ms;
}
.shooting:nth-child(39) {
  top: 2%;
  left: 26%;
  -webkit-animation-delay: 1673ms;
          animation-delay: 1673ms;
}
.shooting:nth-child(40) {
  top: 10%;
  left: 37%;
  -webkit-animation-delay: 9021ms;
          animation-delay: 9021ms;
}
.shooting:nth-child(41) {
  top: 62%;
  left: 29%;
  -webkit-animation-delay: 7977ms;
          animation-delay: 7977ms;
}
.shooting:nth-child(42) {
  top: 88%;
  left: 52%;
  -webkit-animation-delay: 5663ms;
          animation-delay: 5663ms;
}
.shooting:nth-child(43) {
  top: 46%;
  left: 59%;
  -webkit-animation-delay: 1206ms;
          animation-delay: 1206ms;
}
.shooting:nth-child(44) {
  top: 71%;
  left: 12%;
  -webkit-animation-delay: 6442ms;
          animation-delay: 6442ms;
}
.shooting:nth-child(45) {
  top: 48%;
  left: 22%;
  -webkit-animation-delay: 176ms;
          animation-delay: 176ms;
}
.shooting:nth-child(46) {
  top: 93%;
  left: 85%;
  -webkit-animation-delay: 8911ms;
          animation-delay: 8911ms;
}
.shooting:nth-child(47) {
  top: 91%;
  left: 65%;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.shooting:nth-child(48) {
  top: 37%;
  left: 57%;
  -webkit-animation-delay: 9419ms;
          animation-delay: 9419ms;
}
.shooting:nth-child(49) {
  top: 63%;
  left: 96%;
  -webkit-animation-delay: 1483ms;
          animation-delay: 1483ms;
}
.shooting:nth-child(50) {
  top: 24%;
  left: 37%;
  -webkit-animation-delay: 1878ms;
          animation-delay: 1878ms;
}

@-webkit-keyframes shooting {
  0% {
    opacity: 0;
    transform: rotateZ(-30deg) translateX(0) scaleX(0);
  }
  25% {
    opacity: 1;
    transform: rotateZ(-30deg) transalteX(-200%) scaleX(1);
  }
  50% {
    opacity: 0;
    transform: rotateZ(-30deg) translateX(-400%) scaleX(2);
  }
  100% {
    opacity: 0;
    transform: rotateZ(-30deg) translateX(-400%) scaleX(2);
  }
}

@keyframes shooting {
  0% {
    opacity: 0;
    transform: rotateZ(-30deg) translateX(0) scaleX(0);
  }
  25% {
    opacity: 1;
    transform: rotateZ(-30deg) transalteX(-200%) scaleX(1);
  }
  50% {
    opacity: 0;
    transform: rotateZ(-30deg) translateX(-400%) scaleX(2);
  }
  100% {
    opacity: 0;
    transform: rotateZ(-30deg) translateX(-400%) scaleX(2);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}